---
import { TalkSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends TalkSchema {}

const { title, description, date, img, videoId, slidesUrl } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(date).format("ll");
---

<BaseLayout title={title} description={description} image={img}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {date && <time>{displayDate}</time>}
      {
        videoId ? (
          <iframe
            width="100%"
            height="480"
            src={"https://www.youtube.com/embed/" + videoId}
            title={title}
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        ) : (
          img && <img src={img} alt={title} width="80%" />
        )
      }
      <br />
      <div class="divider my-2"></div>
      {
        slidesUrl && (
          <>
            <sub>
              <a href={slidesUrl}>Slides</a>
            </sub>
            <br />
          </>
        )
      }
      <slot />
    </article>
  </main>
</BaseLayout>
